
  .foc-f9 {
    font-size: 9px;
  }
  
  .foc-f10 {
    font-size: 10px;
  }
  
  .foc-f11 {
    font-size: 11px;
  }
  
  .foc-f12 {
    font-size: 12px;
  }
  
  .foc-f13 {
    font-size: 13px;
  }
  
  .foc-f14 {
    font-size: 14px;
  }
  
  .foc-f15 {
    font-size: 15px;
  }
  
  .foc-f16 {
    font-size: 16px;
  }
  
  .foc-f17 {
    font-size: 17px;
  }
  
  .foc-f18 {
    font-size: 18px;
  }
  
  .foc-f19 {
    font-size: 19px;
  }
  
  .foc-f20 {
    font-size: 20px;
  }
  
  .foc-f21 {
    font-size: 21px;
  }
  
  .foc-f22 {
    font-size: 22px;
  }
  
  .foc-f23 {
    font-size: 23px;
  }
  
  .foc-f24 {
    font-size: 24px;
  }
  
  .foc-f25 {
    font-size: 25px;
  }
  
  .foc-f26 {
    font-size: 26px;
  }
  
  .foc-f27 {
    font-size: 27px;
  }
  
  .foc-f28 {
    font-size: 28px;
  }
  
  .foc-f29 {
    font-size: 29px;
  }
  
  .foc-f30 {
    font-size: 30px;
  }
  
  .foc-red {
    background: red;
  }
  
  .foc-gray {
    background: #A9A9A9;
  }
  
  .foc-white {
    background: white;
  }
  
  .foc-blue {
    background: blue;
  }
  
  .foc-green {
    background: green;
  }

  .foc-airblue {
    /*background: rgb(148, 160, 135);*/
    background: rgb(157, 195, 218);
  }
  
